{% extends "base.html" %} {% block content %}
<h1 class = 'title'>Shopping List Page</h1>

<hr>
<h5>Name:</h5>

<p>{{ name }}</p>

<h5>Class:</h5>

<p>{{class}}</p>
<hr>

<table border=2>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Data Added</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td class ="center-table">{{product.price}}</td>
    <td>{{product.description}}</td>
    <td class="center-table">{{product.date_added}}</td>
  </tr>

  {% endfor %}
</table>

<br />

<a href="{% url "main:create_product" %}">
    <button class="add-product">Add New Product</button>
</a>
{% endblock content %}
