{% extends "base.html" %} {% block content %}
    <h1 class='title'>Shopping List Page</h1>

    <hr>
    <h5>Name: {{ name }}</h5>
    <h5>Class: {{ class }}</h5>

    <h5>Sesi Terakhir Login : {{ last_login }}</h5
    >
    <hr>

    <h2 style="margin-top: 50px;text-align: center">Daftar Produk</h2>


    <div class="products">
        <table class="product-table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Data Added</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td class="description-table">{{ product.description }}</td>
                    <td>{{ product.date_added }}</td>
                </tr>

            {% endfor %}
        </table>
    </div>


    <br/>


    <div class="button-section">

        <div class="product-button">
            <a href="{% url "main:create_product" %}">
                <button class="button">Add New Product</button>
            </a>
        </div>

        <div class="logout-button">
            <a href="{% url 'main:logout' %}">
                <button class="button">
                    Logout
                </button>
            </a>
        </div>
    </div>



{% endblock content %}
